body {
  font-family: 'Poppins', sans-serif;
}

.hero {
  background: url('../img/hero.jpg') no-repeat center center/cover;
  color: black;
  padding: 120px 0;
}

.card img {
  object-fit: cover;
  height: 300px;
}

footer {
  font-size: 0.9rem;
}
.color-swatch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
footer a:hover {
  color: #fff !important;
}
.text-muted{
  color: #6c757d !important;
}